{% extends "base.html" %}
{% block content %}
<section>
    <h1>
        Change Password
    </h1>
    {% load crispy_forms_tags %}
    
    <form action="" method="post" style="width: 50%; margin: auto" novalidate>
        {% if form.non_field_errors %}
    {% for error in form.non_field_errors  %}
    <small class="bg-danger p-1 text-white ">{{error}}</small>
    {% endfor %}
    {% endif %}
        {% csrf_token %}

        <!--{{form|crispy}}-->

        {% for fm in form %}
        <div class="my-2">
        {{fm.label_tag}}
        {{fm}}
        <p class="text-danger">
        {{fm.errors | striptags}}
        </p>
        </div>
        
        {% endfor %}

        <button type="submit" class="btn btn-warning">Submit</button>
        <br>
    </form>
</section>
{% endblock %}